.Header{
    display: flex;
    flex-direction: row;
    background: lightblue;
    max-height: 60px;
    
    
}
@media (max-width: 768px) {
    flex-direction: columns;
 }

.link{ 
    padding: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
}
.link:hover{
    background: green;
    color: white;
}